<div class="ui grid">
  <div class="left floated left aligned eight wide column">
    <h2 class="ui header"># {{name}}</h2>
  </div>
  <div class="right floated right aligned eight wide column">
    <div class="ui search">
      <div class="ui left icon input">
        <input class="prompt" type="text" placeholder="Search messages" ng-model="search">
        <i class="search icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui feed">
  <div class="event" ng-repeat="item in messages | filter:search">
    <div class="label" ng-switch on="getType(item.type, item.subtype)">
      <i class="comment icon" ng-switch-when="message"></i>
      <i class="sign in icon" ng-switch-when="channel_join"></i>
      <i class="sign out icon" ng-switch-when="channel_leave"></i>
    </div>
    <div class="content" ng-bind-html="item.text"></div>
  </div>
</div>